.loaders .loader {
  display: inline-block;
}
.loader {
  margin: 0 10px;
  border: 2px solid #ffffff;
  border-top: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1.5s linear infinite;
}

.loading-chatgpt .loader {
  border: 3px solid #ffffff;
  border-top: 3px solid rgb(0, 0, 0);
  width: 20px;
  height: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
